<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :institution_id %>
    <%= form.select :institution_id, options_from_collection_for_select(Institution.all, :id, :name) %>
  </div>
   <div class="field">
    <%= form.label :country_id %>
    <%= form.select :country_id, options_from_collection_for_select(Country.all, :id, :country_name) %>
  </div>
   <p>
    <%= form.label :credentials %><br />
    <% for credential in Credential.all %>
      <%= check_box_tag "student[credential_ids][]", credential.id, @student.credentials.include?(credential) %>
      <%=h credential.name %><br />
    <% end %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
