<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/gif/png" href="img/z.png">
	<title>Services</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>


<table class='table'>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Institution</th>
      <th>Country</th>
      <th>Credential</th>
      <th>Email</th>
      <th>Approve</th>
      <th>Reject</th>
   
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <%if !student.approved?%>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= student.address %></td>
        <td><%= student.mobile %></td>
        <td><%= student.institution.name %></td>
        <td><%= student.country.country_name%></td>
        <td><%= student.credentials.pluck(:name)%></td>
        <td><%= student.email%></td>
        <td><%= form_for student,url: approve_path(student) do |f| %>
          <div class="field">
           <%= f.label "Approve" %> 
           <%= f.check_box :approved %> <br />
           <%= f.submit "Submit", class: "button small radius" %>

         </div>
        <%end%></td>
         <td><%= form_for student,url: reject_path(student) do |f| %>
          <div class="field">
           <%= f.label "Reject" %> 
           <%= f.check_box :approved,{},:false %> <br />
           <%= f.submit "Submit", class: "button small radius" %>

         </div>
        <%end%></td>
        
         <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        

        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
       
        
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</html>