<p id="notice"><%= notice %></p>

<p>
  <strong>Highersecondary:</strong>
  <%= @education.highersecondary %>
</p>

<p>
  <strong>Diploma:</strong>
  <%= @education.diploma %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @education.graduation %>
</p>

<p>
  <strong>Pg:</strong>
  <%= @education.pg %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
