<!DOCTYPE html>
<html>
  <head>
    <title>StudentsDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% unless flash.empty? %>
   <script type="text/javascript">
      <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
   	 toastr['<%= type %>']('<%= f[1] %>');
   <% end %>
   </script>
<% end %>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  
      <% if user_signed_in?%>
   <div class="pull-right">   
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <li class="nav-item active">
      <ul class="navbar-nav mr-auto">
      <%=link_to 'Admin' , admin_path ,:class=>"nav-link m-2 menu-item"%> </ul></li>
     <li class="nav-item active">
      <ul class="navbar-nav mr-auto">
      <%= link_to 'Admin Logout',destroy_user_session_path,method: :delete,:class=>'nav-link m-2 menu-item'%></li></ul>
     <li class="nav-item-active">
     <ul class="navbar-nav mr-auto">
      <%= link_to 'Back', students_path %></ul></li></div>
      <%else%>
      <div class="pull-left">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%=link_to "Admin Login", new_user_session_path,:class=>'nav-link m-2 menu-item'%>
      </li></ul>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%=link_to "Register a New Student", new_student_path%></ul></li></div>
     <%end%>
   
  </div>
</nav>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
